<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home_style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text">Welcome to Our Blog site...</h1><br>
    <h3>Sign In in you're new user..</h3><br>
    <a href="first/regi">
    <div id="sing_in">
        Sign IN
    </div><br>
    </a>
    <h3>Log in if you registered..</h3>
    <a>
    <div id="log_in">
        Log In
    </div>
    </a>
</body>
</html>